

{% extends 'base.html' %}
{% load static %}
{% block title %} Settings{% endblock %}

{% block content %}
    <!-- User Settings Page -->
    <div class="chatPdf_fn_user_settings_page">
        <!-- Page Title -->
        <div class="chatPdf_fn_pagetitle">
            <h2 class="title">Settings</h2>
        </div>
        <!-- !Page Title -->

        <div class="container small">
            <div class="chatPdf_fn_user_settings">

                <div class="user__settings">
                    <div class="settings_left">

                        <!-- Upload Shortcode -->
                        <label class="fn__upload">
											<span class="upload_content">
												<img src="svg/upload.svg" alt="" class="fn__svg">
												<span class="title">Drag & Drop a Image</span>
												<span class="fn__lined_text">
													<span class="line"></span>
													<span class="text">Or</span>
													<span class="line"></span>
												</span>
												<span class="title">Browse</span>
												<span class="desc">Supports JPG, JPEG, and PNG</span>
											</span>
                            <span class="upload_preview">
												<a href="#" class="fn__closer fn__icon_button">
													<img src="svg/close.svg" alt="" class="fn__svg">
												</a>
												<img src="#" alt="" class="preview_img">
											</span>

                            <input type="file" accept="image/*">
                        </label>
                        <!-- !Upload Shortcode -->

                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <div class="settings_right">
                            <div class="item">
                                <label class="input_label" for="name">First name</label>
                                <div class="input_item">
                                    <input class="input" type="text" id="fname" name="fname"  value="{{ request.user.first_name }}">
                                </div>
                            </div>
                            <div class="item">
                                <label class="input_label" for="lname">Last name</label>
                                <div class="input_item">
                                    <input class="input" type="text" id="lname" name="lname" value="{{ request.user.last_name }}">
                                </div>
                            </div>
                            <div class="item">
                                <label class="input_label" for="username">Username</label>
                                <div class="input_item">
                                    <span class="email">@</span>
                                    <input class="input" type="text" id="username" name="username" value="{{ request.user.username }}">
                                </div>
                            </div>
                            <div class="item">
                                <label class="input_label" for="email">Email Address</label>
                                <div class="input_item">
                                    <input class="input" type="text" id="email" name="email" value="{{ request.user.email }}">
                                </div>
                            </div>
                            <div class="item">
                                <label class="fn__checkbox">
                                    <input type="checkbox">I approve all changes
                                    <span class="checkmark"></span>
                                    <img src="{% static 'svg/check.svg' %}" alt="" class="fn__svg">
                                </label>
                            </div>
                            <div class="item">
                                <label class="fn__submit">
                                    <input type="submit" value="Save Changes">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
    <!-- !User Settings Page -->
{% endblock %}
